<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/weather.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>weather page</title>
</head>
<body>

    <div class="weatherHeader">
       Page 2
    </div>


    <div>
        <button class="weatherBtn">weather</button>
    </div>

    <div>
        <button class="newsBtn">news</button>
    </div>

    <div>
        <button class="prayerBtn"> Prayer Times</button>
    </div>
    
</body>
<script src="http://127.0.0.1:5000/static/js/weather.js"></script>
</html>